body {
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: #818181;
    font-size: 14px;
}
a, button {
    color: #818181;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

* {
    margin: 0;
    
}

img {
    vertical-align: bottom;
}
section {
    flex: 1;
}
ul {
    padding: 0;
}
li {
    list-style: none;
    text-transform: capitalize;
}

/* header */

header {
    display: flex;
    justify-content: flex-end;
}
header nav {
    margin: 22px 22px 0 0;

}

header nav ul{
    display: flex;

}
header nav ul li {  
    margin: 0 8px;
}
.cubes {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cube {
    width: 4px;
    height: 4px;
    background: #5F5F5F;
    margin: .7px .8px;
}
header nav ul li figure {
    width: 30px;
    height: 30px;
    background: gray;
    border-radius: 50%;
    margin-top: -5px;
}
header img {
    width: 100%;
    object-fit: cover;
}

/* end header */
/* central */
section {
    display: flex;
    /* justify-content: ; */
    align-items: center;
    flex-direction: column;
}
.container-logo-google {
    padding: 109px 0 20px 0
}
.searching svg, .microfono-google {
    width: 20px; 
    padding: 10px 5px;
}
.searching svg {
    padding-left: 20px;
}
.microfono-google {
    padding-right: 20px;
}
.searching {
    border: solid 1px rgba( 0, 0, 0, .1);
    border-radius: 20px;
    display: flex;
    margin: 10px;
}
.searching:hover {
    box-shadow: 1px 1px 1px 1px rgba( 0, 0, 0, .1);
}
.searching input {
   border: none; 
    font-size: 20px;
    width: 38vw;
    outline: none;
}
.microfono-google {
    width: 15px;
}

.microfono-google img {
    width: 100%;
    object-fit: cover;
}
.buttons {
   
}
.buttons button{
    background: #F4F4F4;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 20px 4px;
    font-size: 1.02em;
}
.buttons button:hover{ 
    box-shadow: 0 0 1px 1px rgba( 0, 0, 0, .3);
    color: #000000;
}


/* end central */
/* footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    color: #818181;
}
.footer-navs {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 -1px rgba( 0, 0, 0, .1);
}
p {
    /* margin: 5px 20px; */
    padding: 15px 30px;
    box-shadow: 0 -1px rgba( 0, 0, 0, .1);
    width: 100%;
}

.footer-navs ul {
    display: flex;
    margin: 15px 20px;
}
.footer-navs ul li {
    font-size: .95em;
    margin: 0 10px;
}    

/* end footer */
