:root{
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%)   
}

html {
    font-size: 18px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    list-style: none;
    text-decoration: none;
}